@font-face {
    font-family: 'Coffee Terrace';
    src: url('/fonts/CoffeeTerrace.woff2') format('woff2'),
        url('/fonts/CoffeeTerrace.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

