@use "./styles/fonts.scss";
@use "./styles/reset.scss";
@use "./styles/variables.scss" as vars;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Experience

#experience {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;

  #experience-canvas {
    height: 100%;
    width: 100%;
  }
}

// Modals
.modal-title {
  font-family: "Take Coffee";
  text-align: center;
  padding-top: 30px;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 800px;
  width: 100%;
  max-height: 530px;
  height: 100%;
  transform: translate(-50%, -50%);
  font-size: 32px;
  z-index: 99;
  background-color: vars.$base-darkBlue;
  display: none;
  border-radius: 30px;
  justify-content: center;
  padding-bottom: 40px;
  border: 5px black solid;
}

.modal-subtitle {
  font-family: "Take Coffee";
  margin: 13px;
  z-index: 1000;
  font-size: 15px;
  justify-self: center;
}

#email-modal-overlay {
  font-family: "Take Coffee";
  justify-self: center;
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 775px;
  width: 100%;
  max-height: 420px;
  height: 100%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  z-index: 99;
  background-color: vars.$base-darkBlue;
  overflow-y: hidden;
  overflow-x: hidden;
  margin-top: 40px;
  padding: 10px;
}

.email-form {
  font-family: "Take Coffee";
  display: block;
  max-width: 800px;
  width: 100%;
  justify-content: center;
  #email-cont {
    padding: 2px;
    justify-self: center;
  }
  #msg-cont {
    justify-self: center;
  }
  label {
    display: block;
    justify-self: center;
    margin: 10px;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
  }
  input {
    font-family: "Consolas";
    justify-self: center;
    display: block;
    margin: 10px;
    border: solid black 5px;
    border-radius: 10px;
    padding: 5px;
    background-color: black;
  }
  textarea {
    font-family: "Consolas";
    resize: none;
    border: solid black 5px;
    border-radius: 10px;
    padding: 10px;
    background-color: black;
  }

  textarea::-webkit-scrollbar {
    width: 8px;
    background-color: black;
    cursor: pointer;
  }

  textarea::-webkit-scrollbar-track {
    background-color: black;
    cursor: pointer;
  }
  textarea::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 5px;
    color: black;
    cursor: pointer;
  }
  #submit-form-button {
    justify-self: center;
    display: block;
    margin: 10px;
    font-family: "Take Coffee";
    padding: 10px;
    font-size: 15px;
  }

  button:enabled {
    cursor: pointer;
  }
  button:disabled {
    cursor: not-allowed;
  }
}

.modal-exit-button {
  all: unset;
  cursor: pointer;
  position: absolute;
  top: -1.7rem;
  right: -1.7rem;
  z-index: 100;
  background: black;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  transition: transform 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);

  &:hover {
    transform: scale(1.5);
  }
}

#modal-close-icon {
  width: 75px;
  height: 75px;
  fill: red;
}
